// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.flex-container {
  display: flex;
  flex-direction: column;
}
  
.nhsuk-card-confirmation {
  margin-bottom: 40px;
  background: #028a14;
  border: 2px solid #000000;
  position: relative;
  /* [1] */
  width: 100%;
}
@media (min-width: 40.0625em) {
  .nhsuk-card {
    margin-bottom: 48px;
  }
}

.nhsuk-card-confirmation__content {
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 45px;
  padding-bottom: 20px;
  position: center;
  color: #ffffff;
}


.app-task-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (min-width: 40.0625em) {
    .app-task-list {
      min-width: 550px;
    }
  }
  
  .app-task-list__section {
    display: table;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
  }
  @media print {
    .app-task-list__section {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .app-task-list__section {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25;
    }
  }
  @media print {
    .app-task-list__section {
      font-size: 18pt;
      line-height: 1.15;
    }
  }
  
  .app-task-list__section-number {
    display: table-cell;
  }
  @media (min-width: 40.0625em) {
    .app-task-list__section-number {
      min-width: 30px;
      padding-right: 0;
    }
  }
  
  .app-task-list__items {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 40px;
    list-style: none;
    padding-left: 0;
  }
  @media print {
    .app-task-list__items {
      font-family: sans-serif;
    }
  }
  @media (min-width: 40.0625em) {
    .app-task-list__items {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737;
    }
  }
  @media print {
    .app-task-list__items {
      font-size: 14pt;
      line-height: 1.15;
    }
  }
  @media (min-width: 40.0625em) {
    .app-task-list__items {
      margin-bottom: 60px;
    }
  }
  @media (min-width: 40.0625em) {
    .app-task-list__items {
      padding-left: 30px;
    }
  }
  
  .app-task-list__item {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .app-task-list__item:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .app-task-list__item:first-child {
    border-top: 1px solid #b1b4b6;
  }
  
  .app-task-list__task-name {
    display: block;
  }
  @media (min-width: 28.125em) {
    .app-task-list__task-name {
      float: left;
    }
  }
  
  .app-task-list__tag,
  .app-task-list__task-completed {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  @media (min-width: 28.125em) {
    .app-task-list__tag,
  .app-task-list__task-completed {
      float: right;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .nhsuk-tag {
  float: right;
}

.nhsuk-button-blue {
        font-weight: 400;
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 28px;
        appearance: none;
        background-color: #005eb8;
        border: 2px solid transparent;
        border-radius: 4px;
        box-shadow: 0 4px 0 #022d55;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        margin-top: 0;
        padding: 12px 16px;
        position: relative;
        text-align: center;
        vertical-align: top;
        width: auto;
        /* 2 */
        /* 3 */
        /* 4 */
      }


.govuk-summary-list {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin: 0;
  margin-bottom: 20px;
}
@media print {
  .govuk-summary-list {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .govuk-summary-list {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .govuk-summary-list {
    font-size: 14pt;
    line-height: 1.15;
  }
}
@media print {
  .govuk-summary-list {
    color: #000000;
  }
}
@media (min-width: 40.0625em) {
  .govuk-summary-list {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
}
@media (min-width: 40.0625em) {
  .govuk-summary-list {
    margin-bottom: 30px;
  }
}

.govuk-summary-list__row {
  border-bottom: 1px solid #b1b4b6;
}
@media (max-width: 40.0525em) {
  .govuk-summary-list__row {
    margin-bottom: 15px;
  }
}
@media (min-width: 40.0625em) {
  .govuk-summary-list__row {
    display: table-row;
  }
}

@media (min-width: 40.0625em) {
  .govuk-summary-list__row--no-actions:after {
    content: "";
    display: table-cell;
    width: 20%;
  }
}

.govuk-summary-list__key,
.govuk-summary-list__value,
.govuk-summary-list__actions {
  margin: 0;
}
@media (min-width: 40.0625em) {
  .govuk-summary-list__key,
.govuk-summary-list__value,
.govuk-summary-list__actions {
    display: table-cell;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
}

.govuk-summary-list__actions {
  margin-bottom: 15px;
}
@media (min-width: 40.0625em) {
  .govuk-summary-list__actions {
    width: 20%;
    padding-right: 0;
    text-align: right;
  }
}

.govuk-summary-list__key,
.govuk-summary-list__value {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.govuk-summary-list__key {
  margin-bottom: 5px;
  font-weight: 700;
}
@media (min-width: 40.0625em) {
  .govuk-summary-list__key {
    width: 30%;
  }
}

@media (max-width: 40.0525em) {
  .govuk-summary-list__value {
    margin-bottom: 15px;
  }
}

.govuk-summary-list__value > p {
  margin-bottom: 10px;
}

.govuk-summary-list__value > :last-child {
  margin-bottom: 0;
}

.govuk-summary-list__actions-list {
  width: 100%;
  margin: 0;
  padding: 0;
}

.govuk-summary-list__actions-list-item {
  display: inline;
  margin-right: 10px;
  padding-right: 10px;
}

.govuk-summary-list__actions-list-item:not(:last-child) {
  border-right: 1px solid #b1b4b6;
}

.govuk-summary-list__actions-list-item:last-child {
  margin-right: 0;
  padding-right: 0;
  border: 0;
}

.govuk-summary-list--no-border .govuk-summary-list__row {
  border: 0;
}
@media (min-width: 40.0625em) {
  .govuk-summary-list--no-border .govuk-summary-list__key,
.govuk-summary-list--no-border .govuk-summary-list__value,
.govuk-summary-list--no-border .govuk-summary-list__actions {
    padding-bottom: 11px;
  }
}

.govuk-summary-list__row--no-border {
  border: 0;
}
@media (min-width: 40.0625em) {
  .govuk-summary-list__row--no-border .govuk-summary-list__key,
.govuk-summary-list__row--no-border .govuk-summary-list__value,
.govuk-summary-list__row--no-border .govuk-summary-list__actions {
    padding-bottom: 11px;
  }
}

.accordion-toggle {
  display: block;
  text-decoration: none;
  background-image: url(images/accordion-arrow.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 34px 68px;
  background-position: -5px 0px;
  padding-left: 30px;
  height: 30px;
  }
  
  .accordion-toggle:focus {
  background-color: #fff;
  outline: 0px;
  }
  
  .arrow_up {
  background-position: -2px -39px; /* -4 / -39 */
  }
  
  .accordion-content {
  display: none;
  }
  
  .accordion-content.active {
  display: block;
  }
  .date_example {
  color: #6f777b;
  }
  .phase-banner {
  width:100%
  }
  
  .accordion-content {
    display: none;
}

.accordion-content.active {
    display: block;
}

#filterForm {
    min-width:12em;
}

.errorlist{
    color: #b10e1e;
    font-weight: bold;
    text-decoration: underline;
}

.form-control {
    width: 100%;
    margin-bottom: 5px;
}

.accordion-toggle {
display: block;
text-decoration: none;
background-image: url(images/accordion-arrow.png);
background-position: left center;
background-repeat: no-repeat;
background-size: 34px 68px;
background-position: -5px 0px;
padding-left: 30px;
height: 30px;
border-bottom: 1px solid #bfc1c3;
padding-top: 5px;
margin-bottom: 5px;
float:left;
}

.accordion-toggle:focus {
background-color: #fff;
outline: 0px;
}

.arrow_up {
background-position: -2px -39px; /* -4 / -39 */
}

.accordion-content {
display: none;
}

.accordion-content.active {
display: inline-grid;
}
.date_example {
color: #6f777b;
}
.phase-banner {
width:100%
}
.four-column-div {
      column-count: 4;
        
}
.button2{
    background-color: grey;
    border: 1px;
    color: white;
    padding: 12px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button2:hover{
    background-color: darkgrey;
    color:white;
    cursor:pointer;
}

.buttonSearch{
    background-color: green;
    border: 0px;
    width: 40px;
    height: 40px;
}

.buttonSearch:hover{
    background-color: darkgreen;
    cursor:pointer;
}

.buttonSearch img{
    padding-top: 5px;
}

form.searchBar input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

