
{% extends 'layout.html' %}


{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">Provide user details</h1>

        <p>Let us know your own details so we know who is creating the notification. These details will be shared with the national organisations after submitting.</p>

        <p>Some details are taken from your OKTA account - you need to update these on OKTA if they do not look right.</p>
        
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            Email address
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="email address" name="test-width-10" type="text" value="example@example.com" disabled>
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="name">
            Name
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="name" name="test-width-10" type="text" value="Example Example" disabled>
          </div>
      
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Reporting unit
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        <a class="nhsuk-button" href="/role-of-hospital" role="button" draggable="false">Save</a>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
