{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}
<br>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if MaternalEventType == 'maternal' %}

    <h1 class="nhsuk-heading-xl">
      Notify of a maternal death (whilst pregnant)
    </h1>

    {% if (suicide == 'yes') %}
    <p>Event type: Maternal death (whilst pregnant) <a href="/event-type-0">change</a><br>
      Was the death was caused by suicide?: Yes <a href="/maternal/criteria">change</a><br>
      Was it a direct maternal death?: Yes <a href="/maternal/criteria">change</a><br>
      Was it an indirect maternal death?: No <a href="/maternal/criteria">change</a></p>
    {% else %}
    <p>Event type: Maternal death (whilst pregnant) <a href="/event-type-0">change</a><br>
      Was the death was caused by suicide?: No <a href="/maternal/criteria">change</a><br>
      Was it a direct maternal death?: Yes <a href="/maternal/criteria">change</a><br>
      Was it an indirect maternal death?: No <a href="/maternal/criteria">change</a></p>
    {% endif %}

    {% elif MaternalEventType == 'maternal-365' %}

    <h1 class="nhsuk-heading-xl">
      Notify of a maternal death (between 42 days and 365 after pregnancy)
    </h1>

    <p>Event type: Maternal death (between 42 days and 365 after pregnancy) <a href="/event-type-0">change</a></p>

    {% else %}

    <h1 class="nhsuk-heading-xl">
      Notify of a maternal death (less than 42 days after pregnancy)
    </h1>

    {% if (suicide == 'yes') %}
    <p>Event type: Maternal death (less than 42 days after pregnancy) <a href="/event-type-0">change</a><br>
      Was the death was caused by suicide?: Yes <a href="/maternal/criteria">change</a><br>
      Was it a direct maternal death?: Yes <a href="/maternal/criteria">change</a><br>
      Was it an indirect maternal death?: No <a href="/maternal/criteria">change</a></p>
    {% else %}
    <p>Event type: Maternal death (less than 42 days after pregnancy) <a href="/event-type-0">change</a><br>
      Was the death was caused by suicide?: No <a href="/maternal/criteria">change</a><br>
      Was it a direct maternal death?: Yes <a href="/maternal/criteria">change</a><br>
      Was it an indirect maternal death?: No <a href="/maternal/criteria">change</a></p>
    {% endif %}

    {% endif %}
    
    <h2 class="nhsuk-heading-l">Section 1 of 2 - Complete within 24 hours (or next working day)</h2>

    <div class="nhsuk-hint" id="example-hint">
      This section is used for notifying MBRRACE.
    </div>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span> User details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/account-details" aria-describedby="read-declaration-status">
                User details
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--blue" id="read-declaration-status">Completed</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Maternal death details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/event-details" aria-describedby="read-declaration-status">
                Event details
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--blue" id="read-declaration-status">Completed</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/mothers-details" aria-describedby="company-information-status">
                Mother's details
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--white" id="contact-details-status">In progress</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/locations" aria-describedby="company-information-status">
                Locations involved in mother's care
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/cause-of-death" aria-describedby="company-information-status">
                Cause of death
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/further-details" aria-describedby="company-information-status">
                Event description
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/professionals" aria-describedby="company-information-status">
                Professional's details
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Baby 1 details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/baby-1-details" aria-describedby="company-information-status">
                Baby 1's details
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/baby-1-location" aria-describedby="company-information-status">
                Baby 1's location
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
          </li>
        </ul>
      </li>

      {% if (multiple == 'yes') %}

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Baby 2 details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/baby-1-details" aria-describedby="company-information-status">
                Baby 2's details
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="/baby-1-location" aria-describedby="company-information-status">
                Baby 2's location
              </a>
            </span>
            <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span> Submit section 1
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Review answers and submit
            </span>
            <strong class="nhsuk-tag nhsuk-tag--red" id="submit-pay-status">Cannot start yet</strong>
          </li>
        </ul>
      </li>

      {% if (MaternalEventType == 'maternal-365') or (suicide == 'yes') %}
      {% else %}
      
      <h2 class="nhsuk-heading-l">Section 2 of 2 - Complete at earliest convenience</h2>

      <div class="nhsuk-hint" id="example-hint">
        This section collects additional information required to notify MNSI.
      </div>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">6. </span> MNSI consent
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              MNSI consent
            </span>
            <strong class="nhsuk-tag nhsuk-tag--red" id="submit-pay-status">Cannot start yet</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">7. </span> Submit section 2
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Review answers and submit
            </span>
            <strong class="nhsuk-tag nhsuk-tag--red" id="submit-pay-status">Cannot start yet</strong>
          </li>
        </ul>
      </li>

      {% endif %}


      {% else %}

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Submit section 1
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Review answers and submit
            </span>
            <strong class="nhsuk-tag nhsuk-tag--red" id="submit-pay-status">Cannot start yet</strong>
          </li>
        </ul>
      </li>

      {% if (MaternalEventType == 'maternal-365') or (suicide == 'yes') %}
      {% else %}

      <h2 class="nhsuk-heading-l">Section 2 - Complete at earliest convenience</h2>

      <div class="nhsuk-hint" id="example-hint">
        This section collects additional information required to notify MNSI.
      </div>


      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span> MNSI consent
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              MNSI consent
            </span>
            <strong class="nhsuk-tag nhsuk-tag--red" id="submit-pay-status">Cannot start yet</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">6. </span> Submit section 2
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Review answers and submit
            </span>
            <strong class="nhsuk-tag nhsuk-tag--red" id="submit-pay-status">Cannot start yet</strong>
          </li>
        </ul>
      </li>

      {% endif %}
      {% endif %}

    </ol>



    <a class="nhsuk-button nhsuk-button--secondary" href="/event-view" role="button" draggable="false">Save progress and
      return later</a>


  </div>
</div>

{% endblock %}