{% extends 'layout.html' %}


{% block pageTitle %}
Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Access settings</h1>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" width="15%" scope="col" style="padding-top:0;">Organisation</th>
              <th class="govuk-table__header" width="15%" scope="col" style="padding-top:0;">Access type</th>
              <th class="govuk-table__header" width="15%" scope="col" style="padding-top:0;"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Manchester Royal Infirmary (RM326)</td>
              <td class="govuk-table__cell">{% if route=='organisational' %}Organisational{% else %}Admin{% endif %}</td>
              <td class="govuk-table__cell">
                {% if route=='organisational' %}<a class="nhsuk-button" href="registration-confirmation" role="button" draggable="false" style="margin-bottom:0;">Upgrade access</a>{% endif %}
              </td>
            </tr>
          </tbody>
        </table>

        {% if route=='admin' %}

        <h1 class="nhsuk-heading-l">Admin area</h1>

        <h3 class="nhsuk-card__heading nhsuk-heading-s">
          <a class="nhsuk-card__link" href="#">Manage users in my organisation</a>
        </h2>
        <p>Manage the users who have been granted access to your organisation's event records. From here you can approve
          or reject any incoming requests for access to your organisation's events, or revoke existing users' access.</p>

        {% endif %}

        <p><a href="/home">Return to home</a></p>

      </div>
    </div>

  </main>
</div>

<!-- End of content -->
{% endblock %}