
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}


<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <img src="/images/okta-logo.png" alt="okta">

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            Email
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="email" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            Password
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="email" name="test-width-10" type="text">
        </div>

        <a class="nhsuk-button-blue" href="user-management-route" role="button" draggable="false">Sign in</a>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}


