
{% extends 'layout.html' %}


{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}


<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">Set up your organisation's account information</h1>
        <p>An account for your organisation has not already been set up. To continue, you must create one now.</p>
        <p>These details will be shared with the national organisations when you submit a notification. These must be kept up to date.</p>
        
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-trust">
            Reporting trust
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-trust" name="test-width-10" type="text">
        </div>
        
        <legend class="nhsuk-fieldset__legend nhsuk-label--m">
          <h1 class="nhsuk-fieldset__heading">
            Trust's maternity contact details
          </h1>
          <div class="nhsuk-hint" id="example-hint">
            These details are used for notifying NHSR.
          </div>
        </legend>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            First name
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="first-name" name="PG-first-name" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="name">
            Surname
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="surname" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="name">
            Email address
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="surname" name="test-width-10" type="text">
        </div>

    
        <legend class="nhsuk-fieldset__legend nhsuk-label--m">
          <h1 class="nhsuk-fieldset__heading">
            Trust's HSIB first point of contact
          </h1>
        </legend>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            First name
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="first-name" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="name">
            Surname
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="surname" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="job-title">
            Job title
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="job-title" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="phone-number">
            Telephone number
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="phone-number" name="test-width-10" type="text">
        </div>
        
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-trust">
            Email address
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="email-address" name="test-width-10" type="text">
        </div>

        <legend class="nhsuk-fieldset__legend nhsuk-label--m">
          <h1 class="nhsuk-fieldset__heading">
            Trust's HSIB second point of contact
          </h1>
        </legend>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            First name
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="first-name" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="name">
            Surname
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="surname" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="job-title">
            Job title
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="job-title" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="phone-number">
            Telephone number
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="phone-number" name="test-width-10" type="text">
        </div>
        
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-trust">
            Email address
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="email-address" name="test-width-10" type="text">
        </div>

        <a class="nhsuk-button" href="/home" role="button" draggable="false">Create account</a>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
