{% extends 'layout.html' %}


{% block pageTitle %}
Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}


<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <legend class="nhsuk-fieldset__legend nhsuk-label--l">
          <h1 class="nhsuk-fieldset__heading">
            Baby 1 details
          </h1>
        </legend>
        <div class="nhsuk-hint">
          Please enter details in the order the babies were born.
        </div>
        <br>


        {% if (eventType == 'brain-injury') %}        
        {% else %}

        {% if eventType == 'stillbirth' or eventType == 'late-fetal-loss' %}
        {% else %}

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="covidtest">
            <label class="nhsuk-label" for="email">
              Was this a live birth?
            </label>

            <div class="nhsuk-radios nhsuk-radios--conditional">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="covidtest-1" name="covidtest" type="radio" value="email"
                  aria-controls="conditional-covidtest-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="covidtest-1">
                  Yes
                </label>
              </div>

              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-covidtest-1">
                <div class="nhsuk-form-group">

                  <div class="nhsuk-radios">
                    <label class="nhsuk-label nhsuk-radios__label" for="covidtest-1">
                      Is the baby still alive?
                    </label>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio"
                        value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
                        Yes
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio"
                        value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                        No
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio"
                        value="not sure">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                        Not known
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="covidtest-2" name="covidtest" type="radio" value="phone"
                  aria-controls="conditional-covidtest-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="covidtest-2">
                  No
                </label>
              </div>
            </div>
        </div>
        </fieldset>
        {% endif %}

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="termination">
            <label class="nhsuk-label" for="email">
              Was this a termination?
            </label>

            <div class="nhsuk-radios nhsuk-radios--conditional">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="termination" name="termination" type="radio" value="email"
                  aria-controls="conditional-termination-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="termination-1">
                  Yes
                </label>
              </div>

              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-termination-1">

                <div class="nhsuk-form-group">

                  <div class="nhsuk-radios">
                    <label class="nhsuk-label nhsuk-radios__label" for="termination-1">
                      What was the reason for the termination?
                    </label>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio"
                        value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
                        Congenital anomaly
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio"
                        value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                        Maternal health
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio"
                        value="not sure">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                        Fetal reduction
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio"
                        value="not sure">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                        Other
                      </label>
                    </div>

                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio"
                        value="not sure">
                      <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                        Not known
                      </label>
                    </div>

                  </div>
                </div>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="termination-2" name="termination" type="radio" value="phone"
                  aria-controls="conditional-termination-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="termination-2">
                  No
                </label>
              </div>
            </div>
        </div>
        </fieldset>
        {% endif %}


        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            NHS number (if known)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            Name
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
        </div>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            Surname
          </label>
          <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
        </div>

        <h3 class="nhsuk-heading-m">Date of birth</h3>
        <div class="nhsuk-hint" id="example-hint">
          For example, 15 3 1984
        </div>

        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day"
                name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month"
                name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year"
                name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
        </div>

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">

            <h3 class="nhsuk-heading-m">Time of Birth</h3>
            <div class="nhsuk-hint" id="example-hint">
              For example, 13 50
            </div>

            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                    Hours
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day"
                    name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                    Minutes
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month"
                    name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>

        </div>


        <fieldset class="nhsuk-fieldset">
          <label class="nhsuk-label" for="input-width-10">
            Sex
          </label>

          <div class="nhsuk-form-group">

            <div class="nhsuk-radios">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
                  Male
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                  Female
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-3" name="example-hints" type="radio"
                  value="not sure">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                  Indeterminate
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-4" name="example-hints" type="radio"
                  value="not sure">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-4">
                  Not known
                </label>
              </div>

            </div>
          </div>

        </fieldset>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="input-width-10">
            Hospital number (if known)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
        </div>

        {% if (eventType == 'stillbirth') or (eventType == 'late-fetal-loss') %}

        <h3 class="nhsuk-heading-m">Date baby's death was confirmed</h3>
        <div class="nhsuk-hint" id="example-hint">
          For example, 15 3 2022
        </div>

        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day"
                name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month"
                name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year"
                name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
        </div>

        {% else %}
        {% endif %}

        {% if eventType == 'stillbirth' or eventType == 'neonatal' or eventType == 'perinatal' or eventType == 'brain-injury'%}

        <h3 class="nhsuk-heading-m">Date of death</h3>
        <div class="nhsuk-hint" id="example-hint">
          For example, 15 3 2022
        </div>

        <div class="nhsuk-date-input" id="example">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day"
                name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month"
                name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="example-year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="example-year"
                name="example-year" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
        </div>
        </fieldset>


        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">

            <h3 class="nhsuk-heading-m">Time of death</h3>
            <div class="nhsuk-hint" id="example-hint">
              For example, 13 50
            </div>

            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                    Hours
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day"
                    name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                    Minutes
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month"
                    name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>

        </div>
        {% else %}
        {% endif %}



        <div class="nhsuk-radios nhsuk-radios--conditional nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Is gestational age at delivery known?
          </label>


          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="gestation-1" name="gestation" type="radio" value="email"
              aria-controls="conditional-gestation-1" aria-expanded="false">
            <label class="nhsuk-label nhsuk-radios__label" for="gestation-1">
              Yes
            </label>
          </div>

          <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-gestation-1">

            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                    Weeks
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-day"
                    name="example-day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-month">
                    Days
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-month"
                    name="example-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>

          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="gestation-2" name="gestation" type="radio" value="phone"
              aria-controls="conditional-gestation-2" aria-expanded="false">
            <label class="nhsuk-label nhsuk-radios__label" for="gestation-2">
              No
            </label>
          </div>


          <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-gestation-2">

            <fieldset class="nhsuk-fieldset">
              <label class="nhsuk-label" for="input-width-10">
                Reason
              </label>

              <div class="nhsuk-form-group">

                <div class="nhsuk-radios">

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio"
                      value="yes">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
                      Concealed pregnancy
                    </label>
                  </div>

                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio"
                      value="no">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                      Unable to estimate
                    </label>
                  </div>

                </div>
              </div>

            </fieldset>

          </div>
        </div>

        <div class="nhsuk-radios nhsuk-radios--conditional nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Birth weight (grams)
          </label>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="weight-1" name="weight" type="radio" value="weight"
              aria-controls="conditional-weight-1" aria-expanded="false">
            <label class="nhsuk-label nhsuk-radios__label" for="weight-1">
              Known
            </label>
          </div>

          <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-weight-1">

            <div class="nhsuk-date-input" id="example">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="example-weight">
                    Weight
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input" id="example-day" name="example-day" type="text"
                    pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>

            </div>

          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="weight-2" name="weight" type="radio">
            <label class="nhsuk-label nhsuk-radios__label" for="weight-2">
              Not known
            </label>
          </div>
        </div>



        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="select-1">
            Ethnicity
          </label>
          <select class="nhsuk-select" id="select-1" name="select-1">
            <option>Choose Ethnicity:</option>
            <option value="1" disabled>White</option>
            <option value="2">English, Welsh, Scottish, Nothern Irish or British</option>
            <option value="3">Irish</option>
            <option value="4">Any other white background</option>
            <option value="5" disabled>Mixed or multiple ethnic groups</option>
            <option value="6">White and Black Caribbean</option>
            <option value="7">White and Black African</option>
            <option value="8">White and Asian</option>
            <option value="9">Any other mixed or multiple ethnic background</option>
            <option value="10" disabled>Asian or Asian British</option>
            <option value="11">Indian</option>
            <option value="12">Pakistani</option>
            <option value="13">Bangladeshi</option>
            <option value="14">Chinese</option>
            <option value="15">Any other Asian background</option>
            <option value="16" disabled>Black, African, Caribbean or Black British</option>
            <option value="17">African</option>
            <option value="18">Caribbean</option>
            <option value="19">Any other Black, African or Caribbean background</option>
            <option value="20" disabled>Other options</option>
            <option value="21">Any other ethnic group</option>
            <option value="22">I don't know</option>
          </select>
        </div>
        </fieldset>


        {% if (eventType == 'perinatal') or (eventType == 'maternal-365') %}

        {% else %}

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="select-1">
            Religion
          </label>
          <select class="nhsuk-select" id="select-1" name="select-1">
            <option value="1"> Choose religion:</option>
            <option value="2"> African religion</option>
            <option value="3"> Agnostic movement</option>
            <option value="4"> Anthroposophy</option>
            <option value="5"> Arcane school religion </option>
            <option value="6"> Atheist movement</option>
            <option value="7"> Black magic</option>
            <option value="8"> Brahma Kumaris</option>
            <option value="9"> British Israelism</option>
            <option value="10"> Christian Humanism</option>
            <option value="11" disabled> Christian religion</option>
            <option value="12"> Agnostic Christian</option>
            <option value="13"> Anglican Church</option>
            <option value="14"> Baptist Church</option>
            <option value="15"> Catholic religion</option>
            <option value="16"> Celtic Christian Church </option>
            <option value="17"> Christadelphian movement </option>
            <option value="18"> Christian Existentialism</option>
            <option value="19"> Christian Spiritualism </option>
            <option value="20"> Church of Jesus Christ of Latter Day Saints </option>
            <option value="21"> Church Universal and Triumphant </option>
            <option value="22"> Eastern Christianity </option>
            <option value="23"> Free Christian Church </option>
            <option value="24"> Independent Fundamental Christian Church </option>
            <option value="25"> Jehovah's Witness religion </option>
            <option value="26"> Judaic Christian </option>
            <option value="27"> Nonconformist religion </option>
            <option value="28"> Old Catholic Church </option>
            <option value="29"> Open Episcopal Church </option>
            <option value="30"> Orthodox Christian religion </option>
            <option value="31"> Pentecostalist religion </option>
            <option value="32"> Plymouth Brethren religion </option>
            <option value="1"> Protestant religion </option>
            <option value="1"> Quaker religion </option>
            <option value="1"> Reformed Church </option>
            <option value="1"> Rosicrucian Fellowship </option>
            <option value="1"> Salvation Army </option>
            <option value="1"> Seventh Day Adventist religion </option>
            <option value="1"> Swedenborgianism </option>
            <option value="1"> Unitarian Universalist Church </option>
            <option value="1"> United Church of Christ </option>
            <option value="1"> Western Christianity </option>
            <option value="1"> - </option>
            <option value="1"> Church of Religious Science </option>
            <option value="1"> Comenianism </option>
            <option value="1"> Deism</option>
            <option value="1"> Eckankar religion </option>
            <option value="1"> Eminist religion </option>
            <option value="1"> Goddess Tradition </option>
            <option value="1" disabled> Hinduism, Buddhism AND/OR derivative </option>
            <option value="1"> Brahmanism</option>
            <option value="1"> Buddhism</option>
            <option value="1"> Hinduism</option>
            <option value="1"> Jainism</option>
            <option value="1"> Lamaism</option>
            <option value="1"> Sikhism</option>
            <option value="1"> - </option>
            <option value="1"> Humanism</option>
            <option value="1"> Indigenous spirituality </option>
            <option value="1"> Infinite Way</option>
            <option value="1" disabled> Islam</option>
            <option value="1"> Ahmadiyya Islam</option>
            <option value="1"> Druze religion</option>
            <option value="1"> Shi'ite muslim religio</option>
            <option value="1"> Sufi muslim religion</option>
            <option value="1"> Sunni muslim religion</option>
            <option value="1"> - </option>
            <option value="1" disabled> Judaism</option>
            <option value="1"> Conservative Jewish religion</option>
            <option value="1"> Hasidim</option>
            <option value="1"> Humanistic Judaism</option>
            <option value="1"> Kabbalah</option>
            <option value="1"> Liberal Jewish religion</option>
            <option value="1"> Messianic Judaism</option>
            <option value="1"> Orthodox Jewish Faith</option>
            <option value="1"> Reform Jewish Faith</option>
            <option value="1"> - </option>
            <option value="1"> Lightworker</option>
            <option value="1"> Mixed religion</option>
            <option value="1"> Mysticism</option>
            <option value="1"> National Spiritualist Church</option>
            <option value="1"> Native American Religion</option>
            <option value="1"> New age movement</option>
            <option value="1" disabled> New religious movement </option>
            <option value="1"> Christian Scientist religious movement</option>
            <option value="1"> Krishna consciousness religious movement</option>
            <option value="1"> Unification church religious movement </option>
            <option value="1"> - </option>
            <option value="1"> Occultism</option>
            <option value="1"> Paganism</option>
            <option value="1"> Pantheism</option>
            <option value="1"> Para-religious movement </option>
            <option value="1"> Peyote Religion</option>
            <option value="1"> Primal society religion</option>
            <option value="1"> Primitive tribal spiritual belief</option>
            <option value="1"> Radhasoami</option>
            <option value="1"> Rastafarian movement </option>
            <option value="1" disabled> Religion of Japan, China AND/OR Persia</option>
            <option value="1"> Confucianism</option>
            <option value="1"> Shintoism</option>
            <option value="1"> Taoism</option>
            <option value="1"> Zoroastrianism</option>
            <option value="1"> - </option>
            <option value="1"> Santeria</option>
            <option value="1"> Satanism</option>
            <option value="1"> Shamanism</option>
            <option value="1"> Shumei</option>
            <option value="1"> Spiritualism</option>
            <option value="1"> Transcendental meditation</option>
            <option value="1"> Trinitarian Humanism</option>
            <option value="1"> Universalism</option>
            <option value="1"> Vodun</option>
            <option value="1"> Witchcraft</option>
            <option value="1"> Yoruba</option>

          </select>
        </div>

        {% endif %}

        {% if (eventType == 'late-fetal-loss') or (eventType == 'maternal-365') or (eventType == 'perinatal') %}
        {% else %}
        <fieldset class="nhsuk-fieldset">
          <label class="nhsuk-label" for="input-width-10">
            Does the baby have a disability?
          </label>
    
          <div class="nhsuk-form-group">
    
            <div class="nhsuk-radios">
    
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-1" name="disabled" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
                  Yes - the baby has been diagnosed as disabled</label>
              </div>
    
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-2" name="disabled" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                  No - the baby has not been diagnosed as disabled</label>
              </div>
    
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-3" name="disabled" type="radio" value="not sure">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
                  Not stated
                </label>
              </div>
    
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-hints-4" name="disabled" type="radio" value="not sure">
                <label class="nhsuk-label nhsuk-radios__label" for="example-hints-4">
                  Not Asked
                </label>
              </div>
            </div>
          </div>
    
        </fieldset>
        {% endif %}

        <a class="nhsuk-button" href="/baby-1-location" role="button" draggable="false">Continue</a>

        <p><a href="/task-list">Return to task list</a></p>

      </div>
    </div>

  </main>
</div>

<!-- End of content -->

</div>
</div>
{% endblock %}