
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <br>

        <h1 class="govuk-heading-l">Check your answers for section 2 (HSIB)</h1>

        <h2 class="govuk-heading-m">Point of contact details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First point of contact first name
            </dt>
            <dd class="govuk-summary-list__value">
              Joe
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First point of contact surname
            </dt>
            <dd class="govuk-summary-list__value">
              Bloggs
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First point of contact job title
            </dt>
            <dd class="govuk-summary-list__value">
              Midwife
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First point of contact telephone number
            </dt>
            <dd class="govuk-summary-list__value">
              07654874454
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First point of contact email address
            </dt>
            <dd class="govuk-summary-list__value">
              Joe.bloggs@nhs.net
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Second point of contact first name
            </dt>
            <dd class="govuk-summary-list__value">
              Jane
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Second point of contact surname
            </dt>
            <dd class="govuk-summary-list__value">
              Doe
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Second point of contact job title
            </dt>
            <dd class="govuk-summary-list__value">
              Maternity Risk Manager
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Second point of contact telephone number
            </dt>
            <dd class="govuk-summary-list__value">
              07654871151
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Second point of contact email address
            </dt>
            <dd class="govuk-summary-list__value">
              Jane.doe@nhs.net
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">HSIB consent</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have the family been notified of the investigation?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/comorbidities">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has information about HSIB been shared with the family?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/comorbidities">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have the family agreed to participate in an HSIB investigation?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/comorbidities">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the DoC conversation occurred?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/comorbidities">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional family factors
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/comorbidities">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Nominated family contact</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
              Laura
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/nominated-contact">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Surname
            </dt>
            <dd class="govuk-summary-list__value">
              Richards
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/nominated-contact">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred name
            </dt>
            <dd class="govuk-summary-list__value">
              Laura
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/nominated-contact">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Street Name, Town, EX41 PLE            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/nominated-contact">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone number
            </dt>
            <dd class="govuk-summary-list__value">
              0161 876244           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/nominated-contact">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              laura@hotmail.com          
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/nominated-contact">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred method of communication
            </dt>
            <dd class="govuk-summary-list__value">
              Email     
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/nominated-contact">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Relationship to mother/baby
            </dt>
            <dd class="govuk-summary-list__value">
              Sister/Aunt     
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/nominated-contact">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Special communication requirement
            </dt>
            <dd class="govuk-summary-list__value">
              None
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/nominated-contact">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ethnicity
            </dt>
            <dd class="govuk-summary-list__value">
              White british
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/nominated-contact">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Religion
            </dt>
            <dd class="govuk-summary-list__value">
              No religion
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/nominated-contact">
                Change
              </a>
            </dd>
          </div>
        </dl>



          <a class="nhsuk-button" href="/confirmation" role="button" draggable="false">Submit</a>

        </form>

      </div>
    </div>
  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
