
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <br>

        <h1 class="govuk-heading-l">Check your answers for section 1 (MBRRACE and CDOP)</h1>

        <h2 class="govuk-heading-m">Event details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Event type
            </dt>
            <dd class="govuk-summary-list__value">
              Neonatal death
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/event-type">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Patient safety event?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/safety-event">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of event
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 2022
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time of event
            </dt>
            <dd class="govuk-summary-list__value">
              13:50
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hospital incident number
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">WEB908765</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Mother's details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              NHS number
            </dt>
            <dd class="govuk-summary-list__value">
              606 123 458
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ethnicity
            </dt>
            <dd class="govuk-summary-list__value">
              White Britsh
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/mothers-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Martial status
            </dt>
            <dd class="govuk-summary-list__value">
              Single
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/mothers-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did the mother smoke or use tobacco?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/mothers-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was this mother booked?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/mothers-details">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Baby 1's details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Multiple pregnancy?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/baby-1-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was the baby eligible for an NHS number?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/baby-1-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              NHS number
            </dt>
            <dd class="govuk-summary-list__value">
              123 416 7893
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/baby-1-details"">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hospital number
            </dt>
            <dd class="govuk-summary-list__value">
              Not provided
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/baby-1-details"">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of death
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 2022
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/baby-1-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time of death
            </dt>
            <dd class="govuk-summary-list__value">
              13:50
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/baby-1-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Gestational age at delivery
            </dt>
            <dd class="govuk-summary-list__value">
              39 weeks
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/baby-1-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Birth weight (grams)
            </dt>
            <dd class="govuk-summary-list__value">
              3175
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/baby-1-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sex
            </dt>
            <dd class="govuk-summary-list__value">
              Female
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/baby-1-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ethnicity
            </dt>
            <dd class="govuk-summary-list__value">
              White Britsh
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/baby-1-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Religion
            </dt>
            <dd class="govuk-summary-list__value">
              No religion
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/baby-1-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was the baby born at a different location?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/baby-1-location">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Suspected cause of death
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/cause-of-deathn">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Death to be investigated by coroner?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/cause-of-deathn">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Partner details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the partner known?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/covid-19">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Further details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Describe what happened
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet.
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/covid-19">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Professional's details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Neonatologist name
            </dt>
            <dd class="govuk-summary-list__value">
              Anna Jones
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/professionals">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Neonatologist contact details
            </dt>
            <dd class="govuk-summary-list__value">
              anna.jones@nhs.net
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/professionals">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Obstetrician name
            </dt>
            <dd class="govuk-summary-list__value">
              John Jones
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/professionals">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Obstetrician contact details
            </dt>
            <dd class="govuk-summary-list__value">
              john.jones@nhs.net
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/professionals">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              GP name
            </dt>
            <dd class="govuk-summary-list__value">
              Samantha Smith
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/professionals">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              GP contact details
            </dt>
            <dd class="govuk-summary-list__value">
              samantha.smith@nhs.net
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/professionals">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Delivery midwife name
            </dt>
            <dd class="govuk-summary-list__value">
              Mandy bloggs
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/professionals">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Delivery midwife contact details
            </dt>
            <dd class="govuk-summary-list__value">
              mandy.bloggs@nhs.net
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/professionals">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Community midwife name
            </dt>
            <dd class="govuk-summary-list__value">
              James Doe
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/professionals">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Community midwife contact details
            </dt>
            <dd class="govuk-summary-list__value">
              James.doe@nhs.net
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/professionals">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other name
            </dt>
            <dd class="govuk-summary-list__value">
              Lisa Williams
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/professionals">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other contact details
            </dt>
            <dd class="govuk-summary-list__value">
              lisa.williams@nhs.net
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/professionals">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Covid 19</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was the baby exposed to COVID-19?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/covid-19">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did this baby show clinical signs of COVID-19 in the two weeks before death?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/covid-19">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was this baby tested for COVID-19?
            </dt>
            <dd class="govuk-summary-list__value">
              No, not tested
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/covid-19">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was the mother tested for COVID-19?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes and tested negative
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/covid-19">
                Change
              </a>
            </dd>
          </div>
        </dl>
        
        <h2 class="govuk-heading-m">Support and comorbidities</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did the baby require respiratory support and/or intubation?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/comorbidities">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did this baby have a chronic respiratory problem?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/comorbidities">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did this baby have a chronic respiratory problem?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/comorbidities">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did this baby have any other comorbidities?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/comorbidities">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was the baby breastfed before the illness?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/comorbidities">
                Change
              </a>
            </dd>
          </div>
        </dl>
       
          <a class="nhsuk-button" href="/confirmation-section-1" role="button" draggable="false">Submit</a>

        </form>

      </div>
    </div>
  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
