{% extends 'layout.html' %}

{% block page_title %}Cookies{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
<div class="grid-row">
    <div class="column-two-thirds">
        {% include "includes/back.html" %}
        <br>
        <h2 class="heading-large heading-large--margin-bottom">
            Use of cookies
        </h2>

        <p>
            When we provide services, we want to make them easy, useful and reliable. Where services are
            delivered on the internet, this sometimes involves placing small amounts of information on your
            device, for example, computer or mobile phone. These include small files known as cookies. They
            cannot be used to identify you personally.
        </p>

        <p>
            These pieces of information are used to improve services for you through, for example:
        </p>

        <ul class="list list-bullet">
            <li>
                Enabling a service to recognise your device so you don’t have to give the same information
                several times during one task
            </li>
            <li>
                Recognising that you may already have given a username and password so you don’t need to do it
                for every web page requested
            </li>
            <li>
                Measuring how many people are using services, so they can be made easier to use and there’s
                enough capacity to ensure they are fast.
            </li>
        </ul>

        <p>
            You can manage these small files yourself through your browser setting.
        </p>

        <p>
            Please note that the cookie providers listed below may distribute the gathered cookie information
            with other third party websites for the purpose of activity tracking. You can find out more about
            the policy of each cookie provider on their respective privacy pages.
        </p>

        <h2 class="heading-large heading-large--font">Current cookies</h2>

        <p>
            Please by aware that the providers listed below may change their cookie names without notice. <br>
            As an example, we use the following cookies on our website:
        </p>

        <p>
            <b class="font-bold">Cookie:</b> ARRAffinity<br>
            <b class="font-bold">Purpose:</b> This cookie is set by Azure app service, and allows the service to choose
            the right instance established by a user to deliver subsequent requests made by that user.
        </p>

        <p>
            <b class="font-bold">Cookie:</b> ARRAffinitySameSite<br>
            <b class="font-bold">Purpose:</b> This cookie is set by Windows Azure cloud, and is used for load balancing to make sure the visitor page requests are routed to the same service in any browsing session.
        </p>

        <p>
            <b class="font-bold">Cookie:</b> csrftoken<br>
            <b class="font-bold">Purpose:</b> The CSRF token authenticates the code running and appearing in the browser.
        </p>

        <h2 class="heading-large heading-large--font">How to control and delete cookies</h2>

        <p>
            We will not use cookies to collect personally identifiable information about you.
        </p>
        <p>
            However, if you wish to restrict or block the cookies which are set by our websites, or indeed any other
            website, you can do this through your browser settings. The ‘Help’ function within your browser should
            tell you how.
        </p>
        <p>
            Alternatively, you may wish to visit <a href="https://www.aboutcookies.org" target="_blank">About
                Cookies</a> which contains comprehensive information on how to do
            this on a wide variety of browsers. You will also find details on how to delete cookies from your
            machine as well as more general information about cookies.
            Please be aware that restricting cookies may impact on the functionality of our website.
        </p>
        <p>
            If you wish to view your cookie code, just click on a cookie to open it. You’ll see a short string of
            text and numbers. The numbers are your identification card, which can only be seen by the server that
            gave you the cookie.
        </p>
        <p>
            For information on how to do this on the browser of your mobile phone you will need to refer to your
            handset manual.
        </p>
        <p>
            To opt-out of third-parties collecting any data regarding your interaction on our website, please refer
            to their websites for further information.
        </p>

    </div>
</div>

{% endblock %}