{% extends 'layout.html' %}

{% block page_title %}Cookies{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
    <div class="grid-row">
        <div class="column-two-thirds">
            {% include "includes/back.html" %}
                <br>
                <h2 class="heading-large heading-large--margin-bottom">
                    Use of cookies
                </h2>

                <p>
                    When we provide services, we want to make them easy, useful and reliable. Where services are
                    delivered on the internet, this sometimes involves placing small amounts of information on your
                    device, for example, computer or mobile phone. These include small files known as cookies. They
                    cannot be used to identify you personally.
                </p>

                <p>
                    These pieces of information are used to improve services for you through, for example:
                </p>

                <ul class="list list-bullet">
                    <li>
                        Enabling a service to recognise your device so you don’t have to give the same information
                        several times during one task
                    </li>
                    <li>
                        Recognising that you may already have given a username and password so you don’t need to do it
                        for every web page requested
                    </li>
                    <li>
                        Measuring how many people are using services, so they can be made easier to use and there’s
                        enough capacity to ensure they are fast.
                    </li>
                </ul>

                <p>
                    You can manage these small files yourself through your browser setting.
                </p>

                <p>
                    Please note that the cookie providers listed below may distribute the gathered cookie information
                    with other third party websites for the purpose of activity tracking. You can find out more about
                    the policy of each cookie provider on their respective privacy pages.
                </p>nhsi_template

                <h2 class="heading-large heading-large--font">Current cookies</h2>

                <p>
                    Please by aware that the providers listed below may change their cookie names without notice. <br>
                    As an example, we use the following cookies on our website:
                </p>

                <p>
                    <b class="font-bold">Cookie:</b> Cookie controller<br>
                    <b class="font-bold">Example name:</b> seen_cookie_message<br>
                    <b class="font-bold">Purpose:</b> This cookie is used to understand whether the user has seen the cookie message that appears on page load. This infers acceptance of the cookie policy.
                </p>

                <p>
                    <b class="font-bold">Cookie:</b> Session controller<br>
                    <b class="font-bold">Example name:</b> _psims, csrftoken<br>
                    <b class="font-bold">Purpose:</b> This cookie is used to maintain the users session so that they stay logged into the service, and it maintains the connection between requests and responses to the LFPSE servers.
                </p>

                <p>
                    <b class="font-bold">Cookie:</b> Authentication (OKTA)<br>
                    <b class="font-bold">Example name:</b> t, JSESSIONID, In, DT<br>
                    <b class="font-bold">Purpose:</b> These cookies are used by the user authentication service provider to successfully complete the functionality of logging a user into the service.
                </p>

                <h2 class="heading-large heading-large--font">How to control and delete cookies</h2>

                <p>
                    We will not use cookies to collect personally identifiable information about you.
                </p>
                <p>
                    However, if you wish to restrict or block the cookies which are set by our websites, or indeed any other
                    website, you can do this through your browser settings. The ‘Help’ function within your browser should
                    tell you how.
                </p>
                <p>
                    Alternatively, you may wish to visit <a href="https://www.aboutcookies.org" target="_blank">About
                    Cookies</a> which contains comprehensive information on how to do
                    this on a wide variety of browsers. You will also find details on how to delete cookies from your
                    machine as well as more general information about cookies.
                    Please be aware that restricting cookies may impact on the functionality of our website.
                </p>
            <p>
                    If you wish to view your cookie code, just click on a cookie to open it. You’ll see a short string of
                    text and numbers. The numbers are your identification card, which can only be seen by the server that
                    gave you the cookie.
                </p>
                <p>
                    For information on how to do this on the browser of your mobile phone you will need to refer to your
                    handset manual.
                </p>
                <p>
                    To opt-out of third-parties collecting any data regarding your interaction on our website, please refer
                    to their websites for further information.
                </p>

        </div>
    </div>
    
{% endblock %}
