{% extends 'layout.html' %}


{% block pageTitle %}
Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <legend class="nhsuk-fieldset__legend nhsuk-label--l">
          <h1 class="nhsuk-fieldset__heading">
            Covid-19 Exposure
          </h1>
        </legend>

        <div class="nhsuk-form-group">
          <form method="post" class="form">
            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
              <label class="nhsuk-label" for="email">
                Was the baby exposed to COVID-19?
              </label>


              <div class="nhsuk-radios nhsuk-radios--conditional">

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-1" name="exposed" type="radio" value="yes"
                    aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                    Yes
                  </label>
                </div>
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-2" name="exposed" type="radio" value="no"
                    aria-controls="conditional-contact-2" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                    No
                  </label>
                </div>

                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="covid-3" name="exposed" type="radio" value="not-known"
                    aria-controls="conditional-covid-3" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="covid-3">
                    Not known
                  </label>
                </div>

              </div>

            </fieldset>
            <br>
            <button type="submit" class="nhsuk-button">
              Continue
            </button>

          </form>
        </div>

        <p><a href="/task-list">Return to task list</a></p>

      </div>
    </div>

  </main>
</div>

<!-- End of content -->

</div>
</div>
{% endblock %}