
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-form-group">

    <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          What type of event do you want to notify of?
        </h1>
      </legend>

      <div class="nhsuk-hint" id="example-hint">
        If you select multiple event types, they must have happened in the same event (e.g must be a mother baby pair).
      </div>

      <div class="nhsuk-checkboxes">

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
            Maternal death (whilst pregnant)
          </label>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
            Maternal death (less than 42 days after pregnancy)
          </label>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
            Maternal death (between 42 days and 365 after pregnancy)
          </label>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
            Late fetal losses
          </label>
        </div>

        <div class="nhsuk-expander-group">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                What does this mean?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>The baby is delivered between 22+0 and 23+6 weeks of gestation showing no signs of life, irrespective of when the death occurred</p>
            </div>
          </details>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
            Stillbirths
          </label>
        </div>

        <div class="nhsuk-expander-group">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                What does this mean?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>The baby is delivered from 24+0 weeks of gestation showing no signs of life, irrespective of when the death occurred.</p>
            </div>
          </details>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
            Terminations of pregnancy
          </label>
        </div>

        <div class="nhsuk-expander-group">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                What does this mean?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>Any late fetal loss, stillbirth or neonatal death resulting from a termination of pregnancy should be reported.</p>
            </div>
          </details>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
            Perinatal death (between 7 and 28 days) 
          </label>
        </div>
        
        <div class="nhsuk-expander-group">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                What does this mean?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>Death of a live born baby occurring before 7 completed days after birth.</p>
            </div>
          </details>
        </div>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
            Neonatal death  (less than 7 days)
          </label>
        </div>

        
        <div class="nhsuk-expander-group">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                What does this mean?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>This includes death of a live born baby occurring before 7 completed days after birth.</p>
            </div>
          </details>
      </div>
        

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
            Severe brain injury (between 37 weeks and 7 days)
          </label>
        </div>

        <div class="nhsuk-expander-group">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                What does this mean?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>Eligible babies include those born at term (≥37 completed weeks of gestation), following labour, that had a severe brain
                injury diagnosed in the first seven days of life. These are any babies that had one or more of the following:</p>

              <ul>
                <li>Diagnosed with grade III hypoxicischaemic encephalopathy (HIE)</li>
                <li>Actively therapeutically cooled</li>
                <li>Had all three of the following signs: decreased central tone; comatose; seizures of any kinds</li>

              </ul>
        
            </div>
          </details>

      </div>
    </fieldset>

  </div>

</form>

        <a class="nhsuk-button" href="/safety-event" role="button" draggable="false">Continue</a>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
