
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">

            {% if eventType=='neonatal' or eventType=='perinatal' %}

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Outline the circumstances leading to notification
              </h1>
            </legend>

            <div class="nhsuk-hint" id="event-type-hint">
              Please provide a brief narrative summary of what happened to the baby. This should include 
              any information you have on medical conditions the baby had, any obstetric complications 
              the mother experienced and whether the baby was cared for in multiple departments or 
              transferred between multiple hospitals. It should also include a description of how the 
              baby died e.g. "At Day 12 of life the baby experienced an acute deterioration in condition 
              and despite maximal efforts could not be resuscitated." and what immediate support has been
               offered to parents.
            </div>      

            {% elif eventType=='brain-injury' %}

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Incident description
              </h1>
            </legend>

            <div class="nhsuk-hint" id="event-type-hint">
              Enter the incident as reported.
            </div>      

            {% else %}

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Incident description
              </h1>
            </legend>

            <div class="nhsuk-hint" id="contact-hint">
            Please provide a brief description of this incident. Please ensure you do not include any identifying patient information.
            </div>

            {% endif %}
        
            <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
          </fieldset>
        
        </div>

        <a class="nhsuk-button" href="/professionals" role="button" draggable="false">Continue</a>

        <p><a href="/task-list">Return to task list</a></p>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
