
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}


<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/event-type">Notify national organisations of an event</a>
            </h2>
            <p class="nhsuk-card__description">Submit a notification to HSIB, MBRRACE, CDOPs or NHSR.</p>
          </div>
        </div>

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/event-view">View events on my organisation</a>
            </h2>
            <p class="nhsuk-card__description">View notifications and continue in progress notifications.</p>
          </div>
        </div>

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="/account-details-filled">Update account details</a>
            </h2>
            <p class="nhsuk-card__description">Update your personal details associated with your account.</p>
          </div>
        </div>

        <a href="/lfpse-event-type">LFPSE example</a>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
