<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Notify national organisations of a qualifying perinatal event</h1>
        <p></p>
        <p>You can use this service to:</p>
        <ul>
          <li>notify Healthcare Safety Investigation Branch (HSIB) of neonatal, perinatal and maternal deaths and severe brain injuries</li>
          <li>notify NHS Resolution (NHSR) of severe brain injuries</li>
          <li>notify Mothers and Babies: Reducing Risk through Audits and Confidential Enquiries (MBBRACE) of neonatal, perinatal and maternal deaths</li>
          <li>notify your local Child Death Overview Panel (CDOP) through notification to MBBRACE</li>
        </ul>

        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">
            <span role="text">
              <span class="nhsuk-u-visually-hidden">Important: </span>
              Notification deadline
            </span>
          </h3>
          <p>You must complete this form within your statuatory deadline.</p>
        </div>

        <h2>Before you start</h2>

        <p>We'll ask you for the relevant information from the following categories:</p>
        <ul>
          <li>Event details</li>
          <li>Details or the mother and/or baby involved</li>
          <li>Information about the trust</li>
        </ul>


        <a class="nhsuk-button" href="/sign-in" role="button" draggable="false">Start now</a>

        <p>By using this service you are agreeing to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>.</p>

      </div>
    </div>

  </main>
</div>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
