<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Notify national organisations about maternity events</h1>
        <p></p>
        <p>You can use this service to:</p>
        <ul>
          <li>notify HSIB of </li>
          <li>notify NHSR of severe brain injuries</li>
          <li>notify MBBRACE of</li>
          <li>notify CDOPs</li>
        </ul>

        <h2>Before you start</h2>

        <p>We'll ask you for: ...</p>

        <a class="nhsuk-button" href="#" role="button" draggable="false">Start now</a>

        <p>By using this service you are agreeing to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>.</p>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
