<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
{{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}


<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Notify national organisations of a qualifying perinatal event</h1>
        <p>This service replaces current notifying portals and health and care professionals should use this service to:
        </p>
        <ul>
          <li>Notify Maternity and Newborn Safety Investigations Special Health Authority <a
              href="https://www.hsib.org.uk/" title="External website">(MNSI)</a> of stillbirths, early
            neonatal deaths, severe brain injuries, and maternal deaths (while pregnant or within 42 days of the end of
            the pregnancy)</li>
          <li>Notify NHS Resolution <a href="https://resolution.nhs.uk/" title="External website">(NHSR)</a> of severe brain injuries</li>
          <li>Notify Mothers and Babies: Reducing Risk through Audits and Confidential Enquiries <a href="https://www.npeu.ox.ac.uk/mbrrace-uk" title="External website">(MBRRACE)</a> of late fetal
            losses, stillbirths, early neonatal deaths, late neonatal deaths, maternal deaths (whilst pregnant or within
            42 days of the end of the pregnancy), and maternal deaths (between 42 and 365 days after pregnancy)</li>
          <li>Notify your local Child Death Overview Panel (CDOP) through notification to MBRRACE</li>
        </ul>

        <h2>Before you start</h2>

        <p>You can start a draft at anytime but to complete the form we will ask you for relevant information from the
          following categories:</p>
        <ul>
          <li>Information about the trust e.g. their role</li>
          <li>Event details e.g. site and date of event</li>
          <li>Details of the mother and baby or babies involved e.g. date of birth or ethnicity</li>
        </ul>

        <h2>Sign in</h2>
        <p>You will need to create an OKTA account and sign in if you wish to access this service</p>
        <a class="nhsuk-button" href="/sign-in" role="button" draggable="false">Sign in to start</a>
        <p>Or <a href="https://yellowcard.mhra.gov.uk/" title="External website">set up an account</a> if you have never
          accessed this service before </a>.</p>

        <p>By using this service you are agreeing to our <a href="#">terms of use</a> and <a href="#">privacy
            policy</a>.</p>

      </div>
    </div>

  </main>
</div>


<!-- End of content -->

</div>
</div>
{% endblock %}