
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">

            {% if eventType == 'late-fetal-loss' or eventType == 'stillbirth' or eventType=='neonatal' or eventType=='perinatal' %}

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Was this mother booked?
              </h1>
            </legend>
      
        
            <div class="nhsuk-radios nhsuk-radios--conditional">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Yes
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">

                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="email">
                    Age of mother at booking
                  </label>
                  <input class="nhsuk-input nhsuk-input--width-2" id="input-width-5" name="test-width-5" type="text">
                </div>
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="email">
                    Intended place of birth at booking
                  </label>
                  <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
                </div>
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="email">
                    Intended place of birth at the start of care in labour/induction/caesarean
                  </label>
                  <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
                </div>
        
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                  No
                </label>
              </div>        
            </div>

            {% else %}

            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="email">
                Place of death 
              </label>
              <input class="nhsuk-input nhsuk-input--width-10" id="email" name="email" type="text">
            </div>

            {% endif %}

          </fieldset>
        
        </div>

        <a class="nhsuk-button" href="/multiple-babies" role="button" draggable="false">Continue</a>

        <p><a href="/task-list">Return to task list</a></p>


      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
