{% extends 'layout.html' %}

{% block pageTitle %}
  Confirmation page template - NHS.UK prototype kit
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

      <div class="nhsuk-card__content">
        {% if (diagnosed == 'no' and labour == 'yes') %}
        <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
          This severe brain injury is not notifiable to MNSI or NHSR
        </h1>
        <p>This is because the severe brain injury was not diagnosed within 7 days of birth.</p>
        {% elif (labour == 'no' and diagnosed == 'yes') %}
        <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
          This severe brain injury is not notifiable to MNSI or NHSR
        </h1>
        <p>This is because the mother did not go into labour.</p>
        {% elif (diagnosed == 'no' and labour == 'no') %}
        <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
          This severe brain injury is not notifiable to MNSI or NHSR
        </h1>
        <p>This is because the severe brain injury was not diagnosed within 7 days of birth and the mother did not go into labour.</p>
        {% else %}
        <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
          This event type is not notifiable to MBRRACE or MNSI
        </h1>
        {% endif %}
        {% if (timeAfterBirth == 'after-28') %}
        <p>This is because the death occured more than 28 days after delivery.</p>
        <p>You must still <a href='https://www.qes-online.co.uk/ecdop'>report the death to your local CDOP.</a></p>
        {% elif (birthWeight < 400) %}
        <p>This is because the gestational age at delivery is unknown <strong>and</strong> the birth weight was less than 400g.</p>
        <p>You must still <a href='https://www.qes-online.co.uk/ecdop'>report the death to your local CDOP.</a></p>
        {% endif %}
      </div>

    </div>

      <a class="nhsuk-button nhsuk-button--secondary" href="/event-type-0" role="button" draggable="false">Notify of another event</a>
      <p><a href="/home">Return to home</p></a>

    </div>
  </div>
{% endblock %}


