{% extends 'layout.html' %}


{% block pageTitle %}
Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">OKTA Account settings</h1>
        <h3 class="nhsuk-card__heading nhsuk-heading-s">
          <a class="nhsuk-card__link" href="#">Manage my organisations</a>
        </h2>
        <p>Request access to more data for one of your existing organisations, 
          or remove organisations you no longer need associated with your profile</p>

        <h3 class="nhsuk-card__heading nhsuk-heading-s">
          <a class="nhsuk-card__link" href="#">Add an organisation</a>
        </h2>
        <p>Assign an additional organisation to your profile.</p>
  
        <h2 class="nhsuk-card__heading nhsuk-heading-s">
          <a class="nhsuk-card__link" href="#">Manage my active access requests</a>
        </h2>
        <p>View or cancel any requests for organisational access that are still pending</p>


      </div>
    </div>

  </main>
</div>

<!-- End of content -->
{% endblock %}