
{% extends 'layout.html' %}


{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">Professional's details</h1>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            Neonatologist name (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="email address" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="name">
            Neonatologist contact details (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="name" name="test-width-10" type="text">
        </div>
        
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="phone-number">
            Obstetrician name (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="phone-number" name="test-width-10" type="text">
        </div>
        
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-trust">
            Obstetrician contact details (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-trust" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            GP name (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            GP contact details (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Delivery midwife name (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Delivery midwife contact details (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Community midwife name (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Community midwife contact details (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Other name (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Other contact details (optional)
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>



        <a class="nhsuk-button" href="/covid-19" role="button" draggable="false">Continue</a>

        <p><a href="/task-list">Return to task list</a></p>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
