{% extends 'layout.html' %}


{% block pageTitle %}
{{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">Professional's details</h1>

        <p>Provide the details of the professionals involved in the patient's care. <p>

        {% if eventType=='maternal' or eventType=='maternal-42' or eventType=='maternal-365' %}

        <h3 class="nhsuk-heading-m">GP</h3>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Name of GP
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Name of surgery
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Email Address
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Telephone Number
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        {% else %}

        <fieldset class="nhsuk-fieldset" aria-describedby="gp-details">
          <label class="nhsuk-label" for="gp-details">
            Are the GP details known?
          </label>

          <div class="nhsuk-radios nhsuk-radios--conditional">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="gp-details-1" name="gp-details" type="radio" value="yes"
                aria-controls="conditional-gp-details-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="gp-details-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-gp-details-1">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-name">
                  Name 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-name" name="test-width-10" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-email-address">
                  Email address 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-email-address" name="test-width-10" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-telephone-number">
                  Telephone number 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-telephone-number" name="test-width-10" type="text">
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="gp-details-2" name="gp-details" type="radio" value="no"
                aria-controls="conditional-gp-details-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="gp-details-2">
                No
              </label>
            </div>
          </div>
        </fieldset>

        <br>

        <fieldset class="nhsuk-fieldset" aria-describedby="neonatologist">
          <label class="nhsuk-label" for="neonatologist">
            Are the neonatologist details known?
          </label>

          <div class="nhsuk-radios nhsuk-radios--conditional">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="neonatologist-1" name="neonatologist" type="radio" value="yes"
                aria-controls="conditional-neonatologist-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="neonatologist-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-neonatologist-1">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-name">
                  Name 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-name" name="test-width-10" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-email-address">
                  Email address 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-email-address" name="test-width-10" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-telephone-number">
                  Telephone number 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-telephone-number" name="test-width-10" type="text">
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="neonatologist-2" name="neonatologist" type="radio" value="no"
                aria-controls="conditional-neonatologist-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="neonatologist-2">
                No
              </label>
            </div>
          </div>
        </fieldset>

        <br>

        <fieldset class="nhsuk-fieldset" aria-describedby="obstetrician-details">
          <label class="nhsuk-label" for="obstetrician-details">
            Are the obstetrician details known?
          </label>

          <div class="nhsuk-radios nhsuk-radios--conditional">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="obstetrician-details-1" name="obstetrician-details" type="radio" value="yes"
                aria-controls="conditional-obstetrician-details-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="obstetrician-details-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-obstetrician-details-1">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-name">
                  Name 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-name" name="test-width-10" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-email-address">
                  Email address 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-email-address" name="test-width-10" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-telephone-number">
                  Telephone number 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-telephone-number" name="test-width-10" type="text">
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="obstetrician-details-2" name="obstetrician-details" type="radio" value="no"
                aria-controls="conditional-obstetrician-details-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="obstetrician-details-2">
                No
              </label>
            </div>
          </div>
        </fieldset>

        <br>

        <fieldset class="nhsuk-fieldset" aria-describedby="delivery-midwife-details">
          <label class="nhsuk-label" for="delivery-midwife-details">
            Are the delivery midwife details known?
          </label>

          <div class="nhsuk-radios nhsuk-radios--conditional">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="delivery-midwife-details-1" name="delivery-midwife-details" type="radio" value="yes"
                aria-controls="conditional-delivery-midwife-details-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="delivery-midwife-details-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-delivery-midwife-details-1">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-name">
                  Name 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-name" name="test-width-10" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-email-address">
                  Email address 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-email-address" name="test-width-10" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-telephone-number">
                  Telephone number 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-telephone-number" name="test-width-10" type="text">
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="delivery-midwife-details-2" name="delivery-midwife-details" type="radio" value="no"
                aria-controls="conditional-delivery-midwife-details-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="delivery-midwife-details-2">
                No
              </label>
            </div>
          </div>
        </fieldset>

        <br>

        <fieldset class="nhsuk-fieldset" aria-describedby="community-midwife-details">
          <label class="nhsuk-label" for="community-midwife-details">
            Are the community midwife details known?
          </label>

          <div class="nhsuk-radios nhsuk-radios--conditional">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="community-midwife-details-1" name="community-midwife-details" type="radio" value="yes"
                aria-controls="conditional-community-midwife-details-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="community-midwife-details-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-community-midwife-details-1">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-name">
                  Name 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-name" name="test-width-10" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-email-address">
                  Email address 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-email-address" name="test-width-10" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-telephone-number">
                  Telephone number 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-telephone-number" name="test-width-10" type="text">
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="community-midwife-details-2" name="community-midwife-details" type="radio" value="no"
                aria-controls="conditional-community-midwife-details-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="community-midwife-details-2">
                No
              </label>
            </div>
          </div>
        </fieldset>

        <br>

        <fieldset class="nhsuk-fieldset" aria-describedby="other-details">
          <label class="nhsuk-label" for="other-details">
            Are another professional's details known?
          </label>

          <div class="nhsuk-radios nhsuk-radios--conditional">

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="other-details-1" name="other-details" type="radio" value="yes"
                aria-controls="conditional-other-details-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="other-details-1">
                Yes
              </label>
            </div>

            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-other-details-1">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-name">
                  Name 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-name" name="test-width-10" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-email-address">
                  Email address 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-email-address" name="test-width-10" type="text">
              </div>
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="gp-telephone-number">
                  Telephone number 
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="gp-telephone-number" name="test-width-10" type="text">
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="other-details-2" name="other-details" type="radio" value="no"
                aria-controls="conditional-other-details-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="other-details-2">
                No
              </label>
            </div>
          </div>
        </fieldset>

        <br>

        {% endif %}

        {% if eventType=='maternal' or eventType=='maternal-42' or eventType=='maternal-365' %}

        <a class="nhsuk-button" href="/check-answers-section-1" role="button" draggable="false">Continue</a>

        {% else %}

        <a class="nhsuk-button" href="/covid-19" role="button" draggable="false">Continue</a>

        {% endif %}

        <p><a href="/task-list">Return to task list</a></p>

      </div>
    </div>

  </main>
</div>

<!-- End of content -->

</div>
</div>
{% endblock %}