
{% extends 'layout.html' %}


{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-form-group">
          <form method="post" class="form">
            <h1 class="nhsuk-heading-l">Sibling details
            </h1>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="email">
                  Did the baby have any known siblings?
                </label>
      
              <div class="nhsuk-radios nhsuk-radios--conditional">
              
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="siblings-1" name="siblings" type="radio" value="yes" aria-controls="conditional-siblings-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="siblings-1">
                    Yes
                  </label>
                </div>

                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-siblings-1">
                        
                  <div class="nhsuk-date-input" id="example">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="example-day">
                          Number of siblings
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="example-number" name="example-number" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </div>  
                    
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="siblings-2" name="siblings" type="radio" value="no" aria-controls="conditional-siblings-2" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="siblings-2">
                    No
                  </label>  
                </div>
              </div>
            </div>
              <br>
            <button type="submit" class="nhsuk-button">
            Continue
            </button>

          </form>
        <p><a href="/task-list">Return to task list</a></p>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

{% endblock %}
