
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <br>

        <h1 class="govuk--l">Section 1 - Submitted answers (MNSI)</h1>

        <h2 class="govuk--m">User details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email Address 
            </dt>
            <dd class="govuk-summary-list__value">
              hope.bristow@nhs.net
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name 
            </dt>
            <dd class="govuk-summary-list__value">
                Hope Bristow
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job Title 
            </dt>
            <dd class="govuk-summary-list__value">
              Midwife
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone Number 
            </dt>
            <dd class="govuk-summary-list__value">
              0123456789
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reporting Unit 
            </dt>
            <dd class="govuk-summary-list__value">
              456
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
        </dl>


        <h2 class="govuk--m">Event details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Event type
            </dt>
            <dd class="govuk-summary-list__value">
              Severe Brain Injury
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of event
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 2022
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time of event
            </dt>
            <dd class="govuk-summary-list__value">
              13:50
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hospital incident number
            </dt>
            <dd class="govuk-summary-list__value">
              WEB908765
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was it a grade 3 hypoxic ischaemic encephalopathy?
            </dt>
            <dd class="govuk-summary-list__value">
              No
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was the baby therapeutically cooled? 
            </dt>
            <dd class="govuk-summary-list__value">
              No
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did the baby have decreased central tone?
            </dt>
            <dd class="govuk-summary-list__value">
              No
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>

        </dl>

        <h2 class="govuk--m">Mother's details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              NHS number
            </dt>
            <dd class="govuk-summary-list__value">
              606 123 458
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Grace
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Surname
            </dt>
            <dd class="govuk-summary-list__value">
              Johnson
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              15/03/1984
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address 
            </dt>
            <dd class="govuk-summary-list__value">
              1 Fleet Street, L1 2XY
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hospital number
            </dt>
            <dd class="govuk-summary-list__value">
              2345
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ethnicity
            </dt>
            <dd class="govuk-summary-list__value">
              White Britsh
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Martial status
            </dt>
            <dd class="govuk-summary-list__value">
              Single
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Did the mother smoke or use tobacco?
            </dt>
            <dd class="govuk-summary-list__value">
              No
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
        </dl>

        <h2 class="govuk--m">Baby details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Was the baby eligible for an NHS number?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              NHS number
            </dt>
            <dd class="govuk-summary-list__value">
              123 416 7893
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hospital number
            </dt>
            <dd class="govuk-summary-list__value">
              Not provided
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
         
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ethnicity
            </dt>
            <dd class="govuk-summary-list__value">
              White Britsh
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Religion
            </dt>
            <dd class="govuk-summary-list__value">
              No religion
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
        </dl>

        <h2 class="govuk--m">Further Details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Outline the circumstances leading to notification
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet. 
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
        </dl>
        
        <h2 class="govuk--m">MNSI consent</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have the family been notified of the investigation?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has information about MNSI been shared with the family?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have the family agreed to participate in an MNSI investigation?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the Duty of Candour conversation occurred?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional family factors
            </dt>
            <dd class="govuk-summary-list__value">
              No
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
        </dl>

        <h2 class="govuk--m">Nominated family contact</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
              Laura
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Surname
            </dt>
            <dd class="govuk-summary-list__value">
              Richards
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred name
            </dt>
            <dd class="govuk-summary-list__value">
              Laura
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Street Name, Town, EX41 PLE
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>          
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone number
            </dt>
            <dd class="govuk-summary-list__value">
              0161 876244
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>      
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              laura@hotmail.com
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>        
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Preferred method of communication
            </dt>
            <dd class="govuk-summary-list__value">
              Email
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong> 
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Relationship to mother/baby
            </dt>
            <dd class="govuk-summary-list__value">
              Sister/Aunt
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Special communication requirement
            </dt>
            <dd class="govuk-summary-list__value">
              None
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ethnicity
            </dt>
            <dd class="govuk-summary-list__value">
              White british
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Religion
            </dt>
            <dd class="govuk-summary-list__value">
              No religion
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </dd>
          </div>
        </dl>

        <h1 class="govuk--l">Section 2 - Complete once you have received a MNSI reference number</h1>

        <div class="nhsuk-hint" id="example-hint">
          This section is used for notifying NHSR.
        </div>
          <ol class="app-task-list">
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">7. </span> Claim details
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <a href="/brain-injury/claim-details" aria-describedby="company-information-status">
                <span class="app-task-list__task-name">
                   Claim details
                </a>
                </span>
                <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
              </li>
              <li class="app-task-list__item">
                <a href="/brain-injury/claimant-details" aria-describedby="company-information-status">
                <span class="app-task-list__task-name">
                   Claimant details
                </a>
                </span>
                <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
              </li>
            </ul>
          </li>
  
          <li>
            <h2 class="app-task-list__section">
              <span class="app-task-list__section-number">8. </span> Submit
            </h2>
            <ul class="app-task-list__items">
              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                    Review answers and submit
                </span>
                <strong class="nhsuk-tag nhsuk-tag--red" id="submit-pay-status">Cannot start yet</strong>
              </li>
            </ul>
          </li>
        </ol>  

        </div>
      </div>
    </div>
  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
