{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}
 <br>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">
        Notify of a neonatal death
      </h1>

      <p>Event type: Neonatal death <a href ="event-type">change</a></p>

      <h2 class="nhsuk-heading-l">Section 1 - Complete within 24 hours of event</h2>

      <div class="nhsuk-hint" id="example-hint">
        This section is used for notifying MBRRACE and your local CDOP.
      </div>

      <ol class="app-task-list">

        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Event details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                 Patient safety event details
              </span>
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                 Event details
              </span>
              <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
            </li>
          </ul> 
        </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> Mother's details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Mother's details
            </span>
            <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Locations involved in mother's care
            </span>
            <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span> Baby details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Number of babies
            </span>
            <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Baby's details
            </span>
            <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Baby's location
            </span>
            <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Cause of death
            </span>
            <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">4. </span> Partner details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Partner's details
            </span>
            <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">5. </span> Further event details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              Describe what happened
            </span>
            <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">6. </span> Professional's details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                Professional's details
            </span>
            <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </li>
        </ul>
      </li>
      
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">7. </span> Covid-19
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                Covid-19
            </span>
            <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">8. </span> Support and comorbidities
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                Support and comorbidities
            </span>
            <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">9. </span> Submit section 1
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
                Review answers and submit
            </span>
            <strong class="nhsuk-tag nhsuk-tag--purple" id="read-declaration-status">Submitted</strong>
          </li>
        </ul>
      </li>
      
      <h2 class="nhsuk-heading-l">Section 2 - Complete at earliest convenience</h2>

      <div class="nhsuk-hint" id="example-hint">
        This section collects additional information required to notify HSIB.
      </div>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">10. </span> HSIB consent and nominated family contact
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="consent" aria-describedby="company-information-status">
                  HSIB consent
                </a>
              </span>
              <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="nominated-contact" aria-describedby="company-information-status">
                  Nominated family contact
                </a>
              </span>
              <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">11. </span> Submit section 2
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Review answers and submit
              </span>
              <strong class="nhsuk-tag nhsuk-tag--red" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>

      <a class="nhsuk-button nhsuk-button--secondary" href="/event-view" role="button" draggable="false">Save progress and return later</a>


    </div>
  </div>

{% endblock %}