{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">
        Notify of a neonatal death
      </h1>

      <p>Event type: neonatal death <a href "">change</a></p>
      <p>LFPSE reference number: 146-929-603 <a href "">change</a></p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Event details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="event-details" aria-describedby="read-declaration-status">
                 Event details
                </a>
              </span>
              <strong class="nhsuk-tag nhsuk-tag--blue" id="read-declaration-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                 Criteria
                </a>
              </span>
              <strong class="nhsuk-tag nhsuk-tag--blue" id="read-declaration-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Point of contact details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  First point of contact
                </a>
              </span>
              <strong class="nhsuk-tag nhsuk-tag--white" id="contact-details-status">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  Second point of contact
                </a>
              </span>
              <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  Nominated contact
                </a>
              </span>
              <strong class="nhsuk-tag nhsuk-tag--grey" id="list-convictions-status">Not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Mother's details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Submit and pay
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}