{% extends 'layout.html' %}

{% block page_title %}Terms and conditions{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class="grid-row">
    <div class="column-two-thirds">
        {% include "includes/back.html" %}
        <br>
        </h2>
        <h2 class="heading-large heading-large--margin-bottom">
            Terms of Use
        </h2>

        <p>
            Page content to be added.
        </p>

       
    </div>
</div>

{% endblock %}