
{% extends 'layout.html' %}


{% block pageTitle %}
  {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-l">Set up your user account information</h1>

        <p>These details will be shared with the national organisations when you submit a notification, these must be kept up to date.</p>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="email">
            Email address
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="email address" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="name">
            Name
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="name" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="job-title">
            Job title
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="job-title" name="test-width-10" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="phone-number">
            Telephone number
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="phone-number" name="test-width-10" type="text">
        </div>
      
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="reporting-unit">
            Reporting unit
          </label>
          <input class="nhsuk-input nhsuk-input--width-10" id="reporting-unit" name="test-width-10" type="text">
        </div>

        <a class="nhsuk-button" href="event-details" role="button" draggable="false">Save</a>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
