
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <br>

        <h1 class="govuk-heading-l">Check your answers for section 2 (NHSR)</h1>

        <h2 class="govuk-heading-m">Parent/Guardian details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Title
            </dt>
            <dd class="govuk-summary-list__value">
              Mr
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
              Jane
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Surname
            </dt>
            <dd class="govuk-summary-list__value">
              Doe
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Street Name, Town, EX41 PLE            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              Teacher
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Marital status
            </dt>
            <dd class="govuk-summary-list__value">
              Married
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Relationship to injured party
            </dt>
            <dd class="govuk-summary-list__value">
              Mother            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Family's preferred language
            </dt>
            <dd class="govuk-summary-list__value">
              English           
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Investigation details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have you received any correspondence from the injured party or their representatives? 
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/investigation-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Trust's internal reference number
            </dt>
            <dd class="govuk-summary-list__value">
              123456789
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/investigation-details-further">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is claimant represented by solicitors?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/investigation-details-further">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have the family refused an MNSI investigation?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/investigation-details-further">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have the family requested an Early Notification investigation?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/investigation-details-further">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have the family been advised that the incident has been reported the the Early Notification scheme?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/investigation-details-further">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">MRI outcome</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              MRI Outcome
            </dt>
            <dd class="govuk-summary-list__value">
              Abnormal
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/mri-outcome">
                Change
              </a>
            </dd>
          </div>
        </dl>
          
          <a class="nhsuk-button" href="/brain-injury/confirmation" role="button" draggable="false">Submit</a>

        </form>

      </div>
    </div>
  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
