
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <br>

        <h1 class="govuk-heading-l">Check your answers for section 1 (HSIB)</h1>

        <h2 class="govuk-heading-m">Claim details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is this a claim under the ENS?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claim-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does this involve a request for funding?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claim-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Have you received a formal letter of claim or have the proceedings been served?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claim-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What is the date on the letter of claim or the date the proceedings were served?
            </dt>
            <dd class="govuk-summary-list__value">
              12 August 2022
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claim-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              On what date were you first approached by the injured party (or representative) indicating an intention to pursue a claim?
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">5 May 2022</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claim-details">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Claimant details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the claimant someone other than the injured party?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Title
            </dt>
            <dd class="govuk-summary-list__value">
              Miss
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First name
            </dt>
            <dd class="govuk-summary-list__value">
              Jane
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Surname
            </dt>
            <dd class="govuk-summary-list__value">
              Doe
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Occupation
            </dt>
            <dd class="govuk-summary-list__value">
              Teacher
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              QQ 123456 C
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              NHS number
            </dt>
            <dd class="govuk-summary-list__value">
              485 777 3456
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              1 Street Name, Town, EX41 PLE            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone number
            </dt>
            <dd class="govuk-summary-list__value">
              07876454345            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              jane@gmail.com            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the claimant represented by solicitors?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Claim reference number
            </dt>
            <dd class="govuk-summary-list__value">
              1234567            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/brain-injury/claimant-details">
                Change
              </a>
            </dd>
          </div>
        </dl>

     

          <a class="nhsuk-button" href="/brain-injury/confirmation" role="button" draggable="false">Submit</a>

        </form>

      </div>
    </div>
  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
