
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Claim details
              </h1>
            </legend>

            <div class="nhsuk-radios nhsuk-radios--inline">
              <label class="nhsuk-label" for="reporting-trust">
                Is the claimant represented by solicitors?
              </label>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                  Yes
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                  No
                </label>
              </div>
            </div>
            <br>
            <div class="nhsuk-radios nhsuk-radios--inline">
              <label class="nhsuk-label" for="email">
                Have you received any correspondence from the injured party or their representatives?
              </label>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1">
                  Yes
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-inline-2" name="example-inline" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-inline-2">
                  No
                </label>
              </div>
            </div>


            <div class="nhsuk-form-group">
              <label class="nhsuk-label" for="select-1">
                MRI Outcome
              </label>
              <select class="nhsuk-select" id="select-1" name="select-1">
                <option value="1">Abnormal</option>
                <option value="2">Normal</option>
                <option value="3">Not applicable</option>
              </select>
            </div>

          </fieldset>
        </div>
        
        <br>

        <a class="nhsuk-button" href="/brain-injury/check-answers-section-2" role="button" draggable="false">Continue</a>

        <p><a href="/brain-injury/task-list">Return to task list</a></p>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
