{% extends 'layout.html' %}


{% block pageTitle %}
Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <form method="post" class="form">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-form-group">
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h1 class="nhsuk-fieldset__heading">
                Was the severe brain injury diagnosed within 7 days of birth?
              </h1>
            </legend>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="diagnosed-1" name="diagnosed" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="diagnosed-1">
                  Yes
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="diagnosed-2" name="diagnosed" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="diagnosed-2">
                  No
                </label>
              </div>
            </div>
            
          <button type="submit" class="nhsuk-button">
            Continue
          </button>
        </div>
      </div>
    </form>
  </main>
</div>
<!-- End of content -->
{% endblock %}