
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <form method="post" class="form">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-label--l">
            <h1 class="nhsuk-fieldset__heading">
              Investigation details
            </h1>
          </legend>

          <div class="nhsuk-form-group">
            <legend class="nhsuk-label">
                Have the family been advised that the incident has been reported to the Early Notificiation scheme?
            </legend>
        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-1" name="EN reported" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Yes
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-2" name="EN reported" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  No
                </label>
              </div>
        
            </div>
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="email">
              Trust's internal reference number
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="email" name="reference" type="text">
          </div>

          <div class="nhsuk-form-group">
            <div class="nhsuk-radios nhsuk-radios--conditional">
              <label class="nhsuk-label" for="mnsi">
                Do you have an MNSI reference number?
              </label>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="MNSI" type="radio" value="MNSI-y" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Yes
                </label>
              </div>

              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="email">
                    MNSI reference
                  </label>
                  <input class="nhsuk-input nhsuk-input--width-10" id="email" name="email" type="text">
                </div>
        
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-2" name="MNSI" type="radio" value="MNSI-n" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                  No
                </label>
              </div>

              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="email">
                    Have the family refused an MNSI investigation? 
                  </label>

                  <div class="nhsuk-radios">
          
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="refused-1" name="refused" type="radio" value="refused-y">
                      <label class="nhsuk-label nhsuk-radios__label" for="refused-1">
                        Yes
                      </label>
                    </div>
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="refused-2" name="refused" type="radio" value="refused-n">
                      <label class="nhsuk-label nhsuk-radios__label" for="refused-2">
                        No
                      </label>
                    </div>
              
                  </div>    

                </div>
        
              </div>
          
            </div>
          </div>

          <button type="submit" class="nhsuk-button">
            Continue
          </button>
          <br>
          <p><a href="/brain-injury/task-list">Return to task list</a></p>
        </fieldset>
        </form>
      </div>      
    </div>

  </main>
</div>
<!-- End of content -->

{% endblock %}
