
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  Investigation details
                </h1>
              </legend>

              <div class="nhsuk-form-group">
                <div class="nhsuk-radios nhsuk-radios--conditional">
                  <label class="nhsuk-label" for="mnsi">
                    Have you received any correspondence from the parent or guardian or their representatives?
                  </label>
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="correspondence-1" name="correspondence" type="radio" value="correspondence-y" aria-controls="conditional-contact-1" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-radios__label" for="correspondence-1">
                      Yes
                    </label>
                  </div>

                  <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
            
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="email">
                        Is the claimant represented by solicitors? 
                      </label>
    
                      <div class="nhsuk-radios">
              
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="refused-1" name="refused" type="radio" value="refused-y">
                          <label class="nhsuk-label nhsuk-radios__label" for="refused-1">
                            Yes
                          </label>
                        </div>
                  
                        <div class="nhsuk-radios__item">
                          <input class="nhsuk-radios__input" id="refused-2" name="refused" type="radio" value="refused-n">
                          <label class="nhsuk-label nhsuk-radios__label" for="refused-2">
                            No
                          </label>
                        </div>
                  
                      </div>    
    
                    </div>
                  </div>  
    
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="correspondence-2" name="correspondence" type="radio" value="correspondence-n" aria-controls="conditional-contact-2" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-radios__label" for="correspondence-2">
                      No
                    </label>
                  </div>     
                </div>
              <br>
            </fieldset>
            
            <a class="nhsuk-button" href="/brain-injury/mri-outcome" role="button" draggable="false">Continue</a>
            
        </div>
        
        <br>
        <p><a href="/brain-injury/task-list">Return to task list</a></p>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
