
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-label--l">
            <h1 class="nhsuk-fieldset__heading">
              Investigation details
            </h1>
          </legend>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="email">
              Trust's internal reference number
            </label>
            <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
          </div>

          <div class="nhsuk-form-group">
              <legend class="nhsuk-label">
                  Is claimant represented by solicitors?
              </legend>
          
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                    Yes
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    No
                  </label>
                </div>
          
              </div>
          
          </div>

          <div class="nhsuk-form-group">
            <div class="nhsuk-radios nhsuk-radios--conditional">
              <label class="nhsuk-label" for="mnsi">
                Have the family refused an MNSI (formerly HSIB) investigation?
              </label>
        
            
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                  Yes
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
                <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                  No
                </label>
              </div>
        
              <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-2">
        
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label" for="email">
                    MNSI reference
                  </label>
                  <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
                </div>
        
              </div>
  
            </div>
          </div>

          <div class="nhsuk-form-group">
            <legend class="nhsuk-label">
                Have the family requested an Early Notificiation investigation?
            </legend>
        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Yes
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  No
                </label>
              </div>
        
            </div>
          </div>

          <div class="nhsuk-form-group">
            <legend class="nhsuk-label">
                Have the family been advised that the incident has been reported to the Early Notificiation scheme?
            </legend>
        
            <div class="nhsuk-radios">
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                  Yes
                </label>
              </div>
        
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                  No
                </label>
              </div>
        
            </div>
          </div>

          <div class="nhsuk-form-group">
              <legend class="nhsuk-label">
                  Has Duty of Candour commenced?
              </legend>
          
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                    Yes
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                    No
                  </label>
                </div>
          
              </div>
          
          </div>

          <a class="nhsuk-button" href="/brain-injury/mri-outcome" role="button" draggable="false">Continue</a>
          <br>
          <p><a href="/brain-injury/task-list">Return to task list</a></p>
        </fieldset>
      </div>      
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
