
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-form-group">
          <form method="post" class="form">
            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  Investigation details
                </h1>
              </legend>
  
                <div class="nhsuk-radios">
                  <label class="nhsuk-label" for="reporting-unit">
                    Have you received any correspondence from the injured party or their representatives?
                  </label>
  
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="contact-1" type="radio" name="correspondence-type" value="correspondence-y">
                    <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                      Yes
                    </label>
                  </div>
  
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="contact-2" type="radio" name="correspondence-type" value="correspondence-n">
                    <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                      No
                    </label>
                  </div> 
  
                </div>
              <br>
            </fieldset>
            
            <button type="submit" class="nhsuk-button">
              Continue
            </button>
  
            
          </form>
        </div>
        
        <br>
        <p><a href="/brain-injury/task-list">Return to task list</a></p>

      </div>
    </div>

  </main>
</div>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
