
{% extends 'layout.html' %}


{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-form-group">
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h1 class="nhsuk-fieldset__heading">
                Neonatal MRI outcome
              </h1>
            </legend>
            <select class="nhsuk-select" id="select-1" name="select-1">
              <option value="1">Abnormal</option>
              <option value="2">Normal</option>
              <option value="3">Not applicable</option>
            </select>
          </div>
      
      <a class="nhsuk-button" href="/brain-injury/claimant-details" role="button" draggable="false">Continue</a>

      </div>

    </div>

  </main>
</div>
<!-- End of content -->
{% endblock %}
