{% extends 'layout.html' %}

{% block pageTitle %}
  Maternity events - single notification portal
{% endblock %}

{% block content %}

{% include "includes/back.html" %}
<br>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

      <div class="nhsuk-card__content">
        <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
          This event type is not notifiable to NHSR
        </h1>
        <p>This is because the family refused an MNSI investigation and didn't request an Early Notification investigation</p>
      </div>

    </div>

      <a class="nhsuk-button nhsuk-button--secondary" href="/event-type-0" role="button" draggable="false">Notify of another event</a>
      <p><a href="/home">Return to home</p></a>

    </div>
  </div>
{% endblock %}
