{% extends 'layout.html' %}


{% block pageTitle %}
Maternity events - single notification portal
{% endblock %}


{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

{% include "includes/back.html" %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
    <form method="post" class="form">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  Did the baby die within 7 days of birth?
                </h1>
              </legend>


              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="die-1" name="die" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="die-1">
                  Yes
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="die-2" name="die" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="die-2">
                  No
                </label>
              </div>
          </div>
          </fieldset>
          <button type="submit" class="nhsuk-button">
            Continue
          </button>
        </div>
      </div>
    </form>



  </main>
</div>

<!-- End of content -->

</div>
</div>
{% endblock %}